@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;700&display=swap');
:root {
  --light-gradient: linear-gradient(95.08deg, #00baff 2.49%, #063ef9 97.19%);
   --dark-gradient: from-gray-300   dark:to-indigo-900
  @apply font-sans;
}
.poppinfont-100 {
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
}
.poppinfont-200 {
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
}
.poppinfont-400 {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}
.poppinfont-500 {
  font-family: 'Poppins', sans-serif;
  font-weight:500;
}
.poppinfont-700 {
  font-family: 'Poppins', sans-serif;
  font-weight:700;
}
::selection {
  background: #945bf170;
}

html.dark .headroom--pinned header {
  border-bottom: 1px solid rgba(78, 75, 102, 0.78);
}

html.light .headroom--pinned header {
  border-bottom: 1px solid rgba(255, 255, 255, 0.65);
}

@layer components {
  .headline {
    @apply font-bold text-transparent bg-clip-text bg-gradient-to-r from-blue-start to-blue-stop dark:from-gray-300   dark:to-indigo-900;
  }
  body {
    @apply antialiased bg-grey-200 text-off-black dark:bg-off-black dark:text-off-white
  }


  .underlined::after {
    content: "";
    height: 2px;
    transform: scaleX(0);
    transition: transform 0.25s ease;
    transform-origin: left;
    left: 0;
    width: 100%;
    display: block;
    position: absolute;
  }

  .underlined-light:hover::after,
  .underlined-light:focus::after,
  .active.underlined-light::after {
    background: var(--light-gradient);
    transform: scaleX(1);
  }

  .underlined-dark:hover::after,
  .underlined-dark:focus::after,
  .active.underlined-dark::after {
    background: var(--dark-gradient);
    transform: scaleX(1);
  }

  .animation-delay {
    animation-delay: 500ms !important;
  }

  .animate-hover {
    animation: 2s ease-in-out 0s infinite alternate none running hover;
  }

  @keyframes hover {
    0%,
    100% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(10px);
    }
  }

  .glass-light {
    background: linear-gradient(
      114.67deg,
      rgba(255, 255, 255, 0.65) 5%,
      rgba(252, 252, 252, 0.08) 74.94%
    );
    mix-blend-mode: normal;
    backdrop-filter: blur(30px);
    border: 1px solid rgba(255, 255, 255, 0.65);
  }

  .glass-dark {
    background: linear-gradient(
      114.67deg,
      rgba(78, 75, 102, 0.78) 5%,
      rgba(78, 75, 102, 0.08) 74.94%
    );
    mix-blend-mode: normal;
    backdrop-filter: blur(30px);
    border: 1px solid rgba(78, 75, 102, 0.78);
  }

  .gradient-bg-dark {
    background: var(--dark-gradient);
  }

  .gradient-bg-light {
    background: var(--light-gradient);
  }

  .gradient-border-dark {
    border-style: solid;
    border-width: 2px;
    border-image: var(--dark-gradient) 1;
    @apply rounded-lg
  }

  .gradient-border-light {
    border-style: solid;
    border-width: 2px;
    border-image: var(--light-gradient) 1;
    @apply rounded-lg
  }

  .gradient-border {
    @apply  gradient-border-light dark:gradient-border-dark ;
    @apply rounded-lg;

  }

  .gradient-bg {
    @apply gradient-bg-light dark:gradient-bg-dark;
  }

  .underlined {
    @apply underlined-light dark:underlined-dark;
  }
}


#preloader {
  position: fixed;
  display: none;
  top: 0;
  left: -10%;
  right: -10%;
  height: 0;
  margin-left: calc(100vw - 100%);
  overflow-x: hidden;
}

&.preloader_active {
  height: 100vh;
  overflow-y: hidden;

  #preloader {
    height: auto;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #27135c;
    z-index: 9999;
    display: flex;
    overflow: hidden;
  }
}

&.preloader_ready {
  height: auto;
  overflow-y: auto;

  #preloader {
    animation: preloaderLeaving 0.5s forwards;

    @keyframes preloaderLeaving {
      0% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
    }
  }
}
